In [1]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Display the first few rows of the dataframe
print("First few rows of the dataset:")
print(df.head())

# Check for missing values in the dataset
missing_values = df.isnull().sum()
print("\nMissing values in each column:")
print(missing_values)

# Summary of missing values
total_missing = missing_values.sum()
print(f"\nTotal missing values in the dataset: {total_missing}")

First few rows of the dataset:
   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...

Missing values in each column:
row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

Total missing values in the dataset: 12

In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv')

# Get the number of rows and columns
rows, columns = df.shape
print(f'The dataset has {rows} rows and {columns} columns.')

The dataset has 391 rows and 11 columns.

2.2. Definitions of Observations and Variables:
   - Observations: These are the individual data points or entries in your dataset. In your case, each row in the DataFrame represents a different character from Animal Crossing.
   - Variables: These are the different attributes or features that describe each observation. Each column in your DataFrame represents a different variable, such as the character's name, species, or personality type.

In [3]:
import pandas as pd

# Sample dataset
data = {
    'Age': [25, 30, 35, 40, 45],
    'Gender': ['Male', 'Female', 'Female', 'Male', 'Male'],
    'Salary': [50000, 60000, 55000, 65000, 70000]
}

# Create DataFrame
df = pd.DataFrame(data)

# Summary statistics for numeric columns
print("Numeric Columns Summary:")
print(df.describe())

# Value counts for categorical columns
print("\nCategorical Columns Summary:")
for column in df.select_dtypes(include=['object']).columns:
    print(f"\nValue counts for {column}:")
    print(df[column].value_counts())

Numeric Columns Summary:
             Age       Salary
count   5.000000      5.00000
mean   35.000000  60000.00000
std     7.905694   7905.69415
min    25.000000  50000.00000
25%    30.000000  55000.00000
50%    35.000000  60000.00000
75%    40.000000  65000.00000
max    45.000000  70000.00000

Categorical Columns Summary:

Value counts for Gender:
Gender
Male      3
Female    2
Name: count, dtype: int64

In [4]:
import pandas as pd

# Load Titanic dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

# Display basic information about the dataset
print("DataFrame shape:", df.shape)
print("DataFrame columns:", df.columns)
print("First few rows of the dataset:")
print(df.head())

DataFrame shape: (891, 15)
DataFrame columns: Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
First few rows of the dataset:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

df.shape: This returns a tuple with two values (number_of_rows, number_of_columns). For the Titanic dataset, it might return (891, 15), indicating there are 891 rows and 15 columns.
df.describe(): By default, df.describe() only summarizes numeric columns. It does not include non-numeric columns (e.g., 'sex', 'embarked', etc.). If the Titanic dataset contains 15 columns but only 7 of them are numeric, df.describe() will only show summaries for those 7 numeric columns.
(b) Values in the "count" Column

df.describe() Count Values: The "count" column in df.describe() shows the number of non-missing values for each numeric column. If a numeric column has missing values, its "count" will be less than the total number of rows (891 in the Titanic dataset).

question5:

1. Attribute: An attribute is a property or characteristic of an object. In pandas, when you use "df.shape", you are accessing an attribute of the DataFrame "df". This attribute gives you the dimensions of the DataFrame (i.e., the number of rows and columns) without needing to call it like a function. It simply returns the shape as a tuple.

2. Method: A method, on the other hand, is a function that is associated with an object and can perform actions or computations. When you use "df.describe()", you are calling a method of the DataFrame "df". The parentheses "()" indicate that you are invoking this method, which will return a summary of the statistics for the numerical columns in the DataFrame.

Paraphrased Summary: An attribute is a characteristic of an object that you can access directly (like "df.shape"), while a method is a function that you call on an object to perform an action (like "df.describe()"). The key difference is that attributes do not require parentheses, whereas methods do.

In [5]:
import pandas as pd
import numpy as np

# Example DataFrame with missing values
data = {
    'A': [10, 20, np.nan, 40, 50],
    'B': [1.1, np.nan, 3.3, 4.4, np.nan]
}

df = pd.DataFrame(data)

# Get the summary statistics
print(df.describe())

               A         B
count   4.000000  3.000000
mean   30.000000  2.933333
std    18.257419  1.680278
min    10.000000  1.100000
25%    17.500000  2.200000
50%    30.000000  3.300000
75%    42.500000  3.850000
max    50.000000  4.400000

Count:
Definition: The number of non-missing values in the column. It tells you how many data points are present in the column for which statistics are being computed.
Context: This statistic excludes any missing values (NaNs) from the count.
Mean:
Definition: The average of the values in the column. It is calculated as the sum of all values divided by the number of non-missing values.
Formula: 
Mean
=
∑
Values
Count
Mean= 
Count
∑Values
​	
 
Standard Deviation (std):
Definition: A measure of the amount of variation or dispersion of the values in the column. A high standard deviation indicates that the values are spread out widely from the mean, while a low standard deviation indicates that they are clustered closely around the mean.
Formula: 
std
=
∑
(
x
−
mean
)
2
Count
−
1
std= 
Count−1
∑(x−mean) 
2
 
​	
 
​	
 
Minimum (min):
Definition: The smallest value in the column.
Context: It provides the lower bound of the data distribution.
25th Percentile (25%):
Definition: The value below which 25% of the data falls. Also known as the first quartile (Q1).
Context: It gives an idea of the lower range of the data distribution.
Median (50%):
Definition: The middle value of the data when it is sorted in ascending order. It divides the data into two equal halves. If the number of observations is even, the median is the average of the two middle numbers.
Context: It represents the 50th percentile and gives a central value of the distribution.
75th Percentile (75%):
Definition: The value below which 75% of the data falls. Also known as the third quartile (Q3).
Context: It provides an idea of the upper range of the data distribution.
Maximum (max):
Definition: The largest value in the column.
Context: It represents the upper bound of the data distribution.

In [6]:
import pandas as pd

# Example DataFrame with missing values
data = {
    'age': [25, 30, None, 40],
    'salary': [50000, None, 55000, 65000],
    'satisfaction_score': [7, 8, None, 9]
}
df = pd.DataFrame(data)

# Drop rows with any missing values
df_cleaned = df.dropna()
print("After df.dropna():")
print(df_cleaned)

After df.dropna():
    age   salary  satisfaction_score
0  25.0  50000.0                 7.0
3  40.0  65000.0                 9.0

In [9]:
import pandas as pd

# Load Titanic dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

# Before cleaning
print("Before cleaning:")
print(df.isnull().sum())

# Drop columns with too many missing values (e.g., 'deck' in this case)
del df['deck']

# Drop rows with any remaining missing values
df_cleaned = df.dropna()

# After cleaning
print("\nAfter cleaning:")
print(df_cleaned.isnull().sum())

Before cleaning:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

After cleaning:
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [10]:
error 1
NameError: name 'pd' is not defined
error 2
FileNotFoundError: [Errno 2] No such file or directory: 'titanics.csv'
error 3
NameError: name 'DF' is not defined
error 4
SyntaxError: unexpected EOF while parsing
error 5
AttributeError: 'DataFrame' object has no attribute 'group_by'
error 6
KeyError: 'Sex'
error 7
NameError: name 'age' is not defined

SyntaxError: invalid syntax (3762270515.py, line 1)

In [ ]:
question 8.1 8.2

In [11]:
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Group by passenger class and describe the age column
result = df.groupby("pclass")["age"].describe()
print(result)

        count       mean        std   min   25%   50%   75%   max
pclass
1       186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
2       173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
3       355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

9.somewhat